<div class="container-fluid">
  <div class="row fbag">
    <div class="col-12 col-md-4">
      <h3>Useful links</h3>
      <ul class="list-unstyled">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Return Policy</a></li>
        <li><a href="">Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-4">
      <img src="/img/APEX CODERS.png" alt="">
    </div>
    <div class="col-12 col-md-4">
      <h3>Contact Information</h3>
      <ul class="list-unstyled fcont">
       <li><i class="bi bi-envelope-fill"></i>info@apexcoders.com</li>
        <li><i class="bi bi-telephone-fill"></i>+23475757575</li>
        <li class="list-inline-item"><i class="bi bi-instagram"></i></li>
        <li  class="list-inline-item"><i class="bi bi-whatsapp"></i></li>
        <li  class="list-inline-item"><i class="bi bi-twitter"></i></li>
      </ul>
    </div>
  </div>
  <div class="row bg-info">
    <div class="col-12 ">
      <p class="text-white text-center">&copy; Copyright 2023 | All Rights Reserved</p>
    </div>
  </div>
</div>